
body{
	width: 1000px;
	background-color:#FFDEAD;
	margin: 0 auto;
}
.clearfix:after{
	content:"";
	display: table;
	clear: both;
}
.clearfix{
	zoom: 1;
}
.all{
	width: 1000px;
	height:100%;
	background-color: cornsilk;
}
.t{
	width: 1000px;
	height: 20px;
	background-color: sandybrown;
}

/*顶部导航栏总设计开始*/
.top{
	width: 100%;
	height: 100px;
	background-color: white;	
	color: orange;
}
/*顶部导航栏总设计结束*/

/*顶部导航栏左侧头部设计开始*/
.head{               
	margin: 20px 0;
	font:  "微软雅黑" bolder;
	font-size: 30px;
	padding: 0 20px;
	float: left;
}
/*顶部导航栏左侧头部设计结束*/

/*顶部导航栏右侧设计开始*/
.nav {
	float: right;
	width:420px;
	height:50px;
	padding:10px 0px;
	padding-top: 40px;
}
.nav li{
	border-left:1px gainsboro dotted ;
	padding:5px 20px;
	float:left;
}
.nav a{
	color: orange ;
	font: 20px "微软雅黑" bolder;
	text-decoration: none;
}
.nav a:link{
	color: orange;
}
.nav a:visited{
	color: gray
}
.nav a:hover{
	color: black;
	text-decoration: underline;
}
/*顶部导航栏右侧设计结束*/

/*banner设计开始*/
.banner1{
	margin-left: -375px;
}
.banner2{
	position: absolute;
	/* margin-left: -100px; */
}

/*banner设计结束*/

/*设置content部分开始*/
.content .left{
    float: left;
}
 h1{
	width: 1000px;
	text-align: center;
	font: 24px bolder "微软雅黑";
	color: grey;
	padding-top:10px ;
	padding-bottom:10px ;
}
.content .left img{
	float:right;
	margin-top: 10px;
}
.content .wzfl .a{
	margin-top: 40px;
	margin-right: 30px;
}
.content .zpjs .a{
	margin-right: 30px;
}
.content .bcfz .a{
	margin-top: 100px;
	margin-right: 30px;
}
.content .wzfl,.content .zpjs,.content .bcfz{
	border: dashed sandybrown;
	width: 640px;
	line-height: 40px;
	margin: 5px 5px;
	background-color: white;
}
.content .wzfl{
	position: relative;
	height: 400px;
}
.content .zpjs{
	height: 250px;
	
}
.content .bcfz{
	border-right: dashed sandybrown;
	height:450px ;
}
.content h2{
	font: 25px bold "微软雅黑";
	color: gray;
	text-align: center;
	text-decoration: none;
}
.content li{
	font: "微软雅黑"18px bold;
}
.content a:link{
	color: grey;
}
.content a:hover{
	color: darkorange;
}
.content a:visited{
	color: orangered;
}
.right{
	float: left;
	width: 300px;
	height: 1120px;
	background-color: cornsilk;
	border: dashed sandybrown ;
	margin: 3.5px;
	background-color: white;
}
.content .right p{
	text-align: center;
}
table{
	border-spacing: 5px 5px;
	line-height: 55px;
    /* border-collapse：sepeated; */
}
table td{
	padding:0 10px;
}
table {
	width: 150px;
	height: 50px;
}
/*设置content部分结束*/

/*设置联系栏开始 */
.contact{
	margin-top: 20px;
	background-color: cornsilk;
	width: 1000px;
	height:440px;
}
.contact .c1,.contact .c2,.contact .c3{
	float:left;
	width: 310px;
	height: 400px;
	border: solid 2px orange;
	margin: 0 9px;
	background-color: seashell;
}
.c2 .text,.c2 p,.c2 .textare,.send{
	margin-left: 30px;
}
.send{
	margin-top:10px ;
}
.c2 p{
	color: grey;
	margin-top:20px ;
	margin-bottom: 5px;
}
.c2 .text,.c2 .textare{
	padding: 5px 5px;
}
.textare{
	width: 230px;
	height: 100px;
	overflow: auto;
	resize: none;
}
.c1 .p1,.c1 .p2{
	margin-left: 20px;
	font-size: 14px;
	color: grey;
	font: "微软雅黑";
	margin-top: 30px;
	margin-bottom: 40px;
}
.lianxi{
	padding-left: 12px;
}
.lianxi img{
	border: solid 2px orange;
}
.c1 h2{
	color: grey;
}
.c1 .text{
	margin-left: 20px;
}
.contact h2{
	color: orange;
	text-align: center;	
	font: "微软雅黑" 30px bolder;
}
.news{
	margin-left: 15px;
	margin-bottom: 0px;
	margin-right: 10px;
}
.c3 button{
	margin-left: 20px;
}
.c3 button a{
	text-decoration: none;
	color: black;
}
.c3 button a:hover{
	color: grey;
}
.c3 p{
	font-size: 12px;
	line-height:30px;
	font: "微软雅黑";
}
.c3 a{
	text-decoration: underline;
	color: grey;
}
.c3 img{
	float: left;
	margin-right: 5px;
}


/*设置联系栏 结束*/

/*设置otherfruit部分开始*/
.otherfruit{
	width: 1000px;
	background-color: sandybrown;
}
.otherfruit p{
	font: "微软雅黑" bolder ;
	font-size:20px ;
	color: black;
	float: left;
	margin-top:25px ;
}
.otherfruit li{
	float: right;
	border: solid sandybrown 10px;
	border-collapse: collapse;
}

/*设置otherfruit部分结束*/

/*设置底部*/
.bottom{
	width: 1000px;
	height: 80px;
	background-color: sandybrown;
	border-top: 1px solid black;
}
.bottom p{
	text-align: center;
	color: grey;
	font-size: 12px;
}


/*form.html的shoujibiao样式设计*/
.shoujibiao{
	width: 1000px;
	height: auto;
}
.name111{
	padding-left: 50px;
	width: 150px;
	height: 30px;
	text-align: center;
}
.tel111{
	width: 200px;
	height: 30px;
	text-align: center;
}
th .yijian{
	width: 500px;
	height: 30px;
	text-align: center;
}
.shanchu,.tianjia{
	width: 50px;
	height: 30px;
	text-align: center;
}
td input{
	width: inherit;
	height: 30px;
}
.yijian input{
	width: 500px;
	height: 30px;
}

/* calculator.html*/
#head{
	font-family:微软雅黑;
	font-size: 35px;
	text-align: center;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#show input{
	width:511px;
	height:60px;
	font-size:30px;
	/* margin-bottom: 20px; */
}

#cuttom table{
	margin-left: 238px;
	margin-top: 10px;
}
#cuttom input{
	width: 75px;
	height: 70px;
	font-size: 28px;
	margin: 5px;
}
#cuttom input:hover{
	background: lightgray;
}
